
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" >
    <style>
    </style>
</head>
<body style="background-image: url(../../Images/logo1.jpg)">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Brand</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#">Вход</a>
                    </li>
                    <li>
                        <a href="#">Регистрация</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
        <div class="row" style="width: 100%; text-align: center; margin-top:350px;">
            <h1 style="color:white; font-size: 72px;">Найди дом, который тебе понравится</h1>
        </div>
        <div class="row" style="width: 100%; text-align: center">
            <h2 style="color:white">Купи или арендуй из тысяч домов, квартир, вилл или комнат в Киеве</h2> 
        </div>
        <div class="row" style="width: 100%;">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="input-group input-group-lg">
                    <input type="text" class="form-control" placeholder="Поиск по апартаментам, ройонам или адресу...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Аренда</button>
                        <button class="btn btn-default" type="button">Покупка</button>
                    </span>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>
